<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div style="
        width: 50%;
        margin: 30px auto 0 auto;">
        <h1 style="
            font-size: 1.5rem;
            font-weight: 500;
            margin: 0 auto;
            font-family: 'Arial';
            ">
            Hai, {{.name}}!
        </h1><br/>
        <p style="
            margin: 0 auto;
            font-size: 1.2rem;
            font-weight: 400;
            font-family: 'Arial';">
            Selamat datang di AIVue! Berikut adalah password untuk akun Anda: <strong>{{.password}}</strong>
        </p><br/>
    </div>
</body>
</html>